.box {
    /* height: 150px; */
    display: flex;
    border: 1px solid #dbdbdb;
    padding: 16px;
    margin: 15px;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    width: 250px;
}

.title {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container p:nth-of-type(3) label {
    display: none;
}

label {
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.auto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.write-box {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#id_post_title {
    border: 1px solid #dbdbdb;
    padding: 11px 16px;
    font-size: 15px;
    width: 460px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    font-size: 13px;
}

p label {
    display: none;
}

.button-line {
    font-size: 13px;
    border-bottom: 1px solid #000;
    width: fit-content;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.save-box {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.temp-save-button {
    padding: 4px 17px;
    border: none;
    border: 1px solid #1e1e1e;
    color: #1e1e1e;
    width: 100%;
}

.submit-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temporary-button {
    display: flex;
    width: 80px;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #1E1E1E;
}

.submit-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temporary-button {
    display: flex;
    width: 80px;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #1E1E1E;
}

.save-button {
.submit-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temporary-button {
    display: flex;
    width: 80px;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #1E1E1E;
}

.save-button {
    padding: 4px 17px;
    border: none;
    background-color: #1e1e1e;
    color: #fff;
    width: 80px;
    text-align: center;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    border-radius: 3px;
}

.delete-button {
    padding: 4px 17px;
    border: none;
    background-color: #ff3f3f;
    color: #fff;
    width: 100%;
}

.temp {
    border: 1px #1e1e1e solid;
    background-color: transparent;
    color: #1e1e1e;
}

textarea {
    resize: none;
    height: 500px;
}

.blue-box {
    background-color: #1e1e1e;
    color: #fff;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
}


a {
    text-decoration: none;
}

span {
    font-weight: 700;
}

button {
    cursor: pointer;
}

.ai-button {
    display: flex;
    border: 1px solid #dbdbdb;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

#cke_id_post_content {
    margin-top: 20px;
}