<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 확인</title>
</head>
<body>
    {% extends "base_light.html" %}
    {% block contents %}
    <section class='container'>
        <div class="box-divider">
            <div class="big-box">
                <h3>{{post.post_create_at}}</h3>
                <h1>{{post.post_title}}</h1>
                <h5>{{post.user_id}}</h5>
                <div class="topic-box">
                    {{post.post_topic}}
                </div>
                <div class="post-content">
                    {{post.post_content}}
                </div>
            </div>
            <div class="small-box">
                <p class="small-title">Other posts<br>you may like</p>
                <div class="post-info">
                {% for post in sub_posts %}
                   <div class="recommend-box">
                        <img src="{{post.post_image}}" alt="">
                        <p>{{post.post_title}}</p>
                   </div> 
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="list-box">
        <div class="button-box">
            {% if user.is_authenticated %}
                <div class="edit-delete-box">
                    <button class="edit-button">수정하기</button>
                    <button class="delete-button">삭제하기</button>
                </div>
                <div class="share-box">
                    <button class="share-button">공유하기</button>
                </div>
            {% else %}
            <div class="share-box">
                <button class="share-button">공유하기</button>
            </div>
            {% endif %}
        </div>
    </section>
    <section class='post-list'>
        <div class="post-box">
            <div class="another-post-box">
                <p>다음글</p>
                <div class="post-name"></div>
                <p></p>
            </div>
            <div class="another-post-box">
                <p>이전글</p>
                <div class="post-name"></div>
                <p></p>
                </div>
            </div>
        </div>
    </section>
    <script>
        // 공유하기 버튼 클릭 시
        document.querySelector('.share-button').addEventListener('click', function() {
          let postUrl = window.location.href;
          
          // 클립보드에 복사
          let tempInput = document.createElement("input");
          document.body.appendChild(tempInput);
          tempInput.value = postUrl;
          tempInput.select();
          document.execCommand("copy");
          document.body.removeChild(tempInput);
          
          // 알림 표시
          alert('포스트 링크가 클립보드에 복사되었습니다');
        });
      </script>
    {% endblock %}
</body>
</html>

