{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block contents %}
    <section class="first-post-box">
        {% if latest_post %}
            <div class="container">
                <div class="post-info-box">
                    <h3 class= "title">{{ latest_post.post_title }}</h3>
                    <p class = "content">{{ latest_post.post_content }}</p>
                    {% comment %} <button onclick="location.href='{% url 'blog:post_detail' post_id=latest_post.pk %}'" class="Read_More">Read More</button> {% endcomment %}
                    <button onclick="location.href='{% url 'blog:post_detail' post_id=latest_post.pk %}'" class="Read_More">Read More</button>
                </div>
                {% if latest_post.image %}
                    <img class="thumbnail-img" src="{{latest_post.post_image.url}}" alt="Latest_Post_Image">
                {% endif %}
            </div>

         {% else %}
             <p>최근 포스트가 없습니다.</p>
         {% endif %}
    </section>

    <section class="post-box">
        <div class="container">
            {% for post in posts %}
            <article class="card" onclick="location.href='board/{{post.post_id}}'">
                {% if post.image %}
                    <img class="card-thumbnail-img" src="{% static post.image.url %}" alt="Post_Image">
                {% endif %}
                <div class="card-info-box">
                    <p>{{ post.post_created_at }}</p>
                    <h3>{{ post.post_title }}</h3>
                    <p>{{ post.post_content }}</p>
                </div>

            </article>
        {% endfor %}
        </div>

    </section>
</body>
{% endblock %}
</html>