{% extends "base.html" %}
{% load custom_filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block contents %}
    
    <section class="first-post-box">
            <div class="container">
                {% for post in posts %} {% if forloop.first %}
                <div class="post-info-box">
                  <h3>{{ post.post_title }}</h3>
                  <p>{{ post.post_content|text_only }}</p>
                    <button onclick="location.href='{% url 'blog:post_detail' post_id=post.pk %}'" class="Read_More">Read More</button>
                </div>
                <div class="thumbnail-img">
                    <img src="{{ post.post_content|get_img_src }}" alt="" />
                  </div>
            </div>
    {% endif %} {% endfor %}
    </section>

    <section class="post-box">
        <div class="container">
            {% for post in posts %} {% if not forloop.first %}
            <div class="card">
              <div class="card-thumbnail-img">
                {% if post.post_content|get_img_src %}
                <a href="{% url 'blog:post_detail' post.pk %}">
                  <img src="{{ post.post_content|get_img_src }}" alt="Thumbnail image" style="width: 100%; height: 200px;"/>
                </a>
                {% else %}
                <div style="width: 100%; height: 100%; background-color: transparent"></div>
                {% endif %}
              </div>
              <a href="{% url 'blog:post_detail' post.pk %}" class="post-info-box-link">
                <div class="card-info-box">
                  <p>{{ post.post_created_at }}</p>
                  <h3>{{ post.post_title }}</h3>
                  <p>{{ post.post_content|text_only }}</p>
                </div>
                </a>
            </div>
            {% endif %}{% endfor %}
    </section>
</body>
{% endblock %}
</html>