<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <section class="first-post-box">
        {% if latest_post %}
        <div class="container">
            <div class="post-info-box">
                {% comment %}
                views.py에 latest_post = posts.latest('created_at')
                urls.py에 path('post/<int:pk>/', views.board, name='post_detail')

                views.py와 urls.py에 위 두 코드를 넣고 테스트. 두 파일 수정되면 코드 수정해야함.
                {% endcomment %}
                <h3 class= "title">{{ latest_post.title }}</h3>
                <p class = "content">{{ latest_post.content }}</p>
                <button onclick="location.href='{% url 'post_detail' pk=latest_post.pk %}'" class="Read_More">Read More</button>
            </div>
            {% if latest_post.image %}
                <img class="thumbnail-img" src="{% static latest_post.image.url %}" alt="Latest_Post_Image">
            {% endif %}
        </div>

    {% else %}
        <p>최근 포스트가 없습니다.</p>
    {% endif %}
    </section>

    <section class="post-box">
        <div class="container">
            {% for post in posts %}
            <article class="card">
                {% if post.image %}
                    <img class="card-thumbnail-img" src="{% static post.image.url %}" alt="Post_Image">
                {% endif %}
                <div class="card-info-box">
                    <p>{{ post.created_at }}</p>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                </div>

            </article>
        {% endfor %}
        </div>

    </section>
    <footer class ="footer">
        <p>&copy; 2023 jjango Blog. All rights reserved.</p>
    </footer>

</body>
</html>
