{% extends "base_light.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/write/write.css' %}">
    {% endblock %}
    <title>Document</title>
</head>


<body>

    {% block contents %}
    <div class = "container">
        <form method ="POST" id="write-form" action="{% url 'blog:create_post' %}" enctype="multipart/form-data">

            <div class="conatiner">
                {% csrf_token %}
                <h1> {{blog.title}} </h1>
                <p> {{form.media}} </p>
                <p> {{form.post_title}} </p>
                <p> {{form.post_content}} </p>
            </div>
             <br>
            <section class="box1">
                <div class="box">
                    <button type="button" class="auto">
                        <img src="{% static 'imgs/AI_logo.png'%}">
                        <h4 class="title" style="margin-left:5px;">AI글 자동완성</h4>
                    </button> 
                </div>
                <div class="box">
                    <h4 class="title">TOPIC</h4>
                    <div class="box-topic">
                        <input type="radio" name="post_topic" value="일상" id="daily">
                        <label for="daily">일상</label><br>
                        <input type="radio" name="post_topic" value="요리" id="cook">
                        <label for="cook">요리</label><br>
                        <input type="radio" name="post_topic" value="여행" id="trip">
                        <label for="trip">여행</label><br>
                        <input type="radio" name="post_topic" value="영화" id="movie">
                        <label for="movie">영화</label><br>
                        <input type="radio" name="post_topic" value="IT/전자기기" id="it/electronics">
                        <label for="it/electronics">IT/전자기기</label>
                    </div>
                </div>
            
                <div class="box">
                    <h4 class="title" name="title" alt="">UPLOAD INFO</h4>
                    <p>공개여부: {% if edit_mode %}전체공개{% else %}미공개{% endif %}</p>
                    <p class="" name="" alt="">상태 : </p>
                    <p>{{form.post_image}}</p>
                    <div class="submit-box">
                        <button class="temporary-button" name="" alt="">임시저장</button>
                        <button class="save-button" type="submit">글 작성</button>
                        {% comment %} <a class="save-button" href="{% url 'blog:board' %}">글 작성</a> {% endcomment %}
                    </div>
                </div>
            </section>
        </form>
        
    </div>
    <script src="{% static 'js/write.js' %}"></script>
    {% endblock %}
</body>
</html>