* {
  font-family: 'Pretendard', sans-serif;
}

button {
  cursor: pointer;
  all: unset;
}

button:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  position: fixed;
  top: 0;
  background-color: #f9f8f4;
  width: 100%;
  z-index: 999;
  color: #1e1e1e;
  text-decoration: none;
  font-family: 'Pretendard', sans-serif;
}

.nav-container {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.nav-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
}

.nav-topics {
  display: flex;
  gap: 40px;
}

a:visited {
  color: #1e1e1e;
}

a:hover {
  color: #1e1e1e;
}

a:active {
  color: #F9F8F4;
}

a:link {
  color: #F9F8F4;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 56px;
}

.logout-button:hover {
  color: rgb(255, 162, 162);
  transition: transform 0.8s, color 0.3s;
}

.primary-button {
  display: inline-block;
  background-color: #1e1e1e;
  color: #F9F8F4;
  border-radius: 2px;
  /* 너비와 높이가 같으므로 50%로 설정하면 동그라미 모양이 됩니다 */
  text-decoration: none;
  text-align: center;
  font-weight: bold;

  padding: 10px 25px;
}

.primary-button:visited {
  color: #F9F8F4;
}

.primary-button:hover {
  background-color: #696969;
  transition: transform 0.8s, background-color 0.3s;
  color: #1e1e1e;
}

.footer {
  display: flex;
  background-color: #E7E3DA;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer p {
  margin-right: 10px;
  margin-bottom: 5px;
}